


.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  overflow-x: auto;
  -ms-scroll-snap-type: inline mandatory;
      scroll-snap-type: inline mandatory;
}

.slider-item { scroll-snap-align: start; }